[submodule "etc/system-contracts"]
	path = etc/system-contracts
	url = https://github.com/lisuxiaoqi/era-system-contracts.git
[submodule "etc/openzeppelin-contracts"]
	path = etc/openzeppelin-contracts
	url = https://github.com/matter-labs/era-openzeppelin.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/lisuxiaoqi/era-contracts.git
